
@import '../node_modules/bootstrap/scss/functions.scss';
@import '../node_modules/bootstrap/scss/variables.scss';

// Set Bootstrap responsive layout to 1200px minimum.
// https://stackoverflow.com/a/53858353
$grid-breakpoints: (
    xs: 0,
    sm: 1px,
    md: 2px,
    lg: 3px,
    xl: 1300px
);

$container-max-widths: (
    xs: 1296px,
    sm: 1297px,
    md: 1298px,
    lg: 1299px,
    xl: 1300px
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.container {
    overflow-x: auto;
    min-width: 1200px;
}





// $backgroundcolor: #f9f6d2;
$backgroundcolor: #eeeeee;
$floatTableBoxShadowColor: #CDCDCD;

$icon-group-width: 200px;
$icon-size: 40px;
$icon-small-size: 30px;
$icon-group-font-size: 14px;
$icon-group-small-font-size: 11px;
$border-indent-1: 5px;

$color-weapon: #ce3a3a;
$color-shield: #f8b31f;
$color-headgear: #6eb314;
$color-armor: #236df5;
$color-boots: #772dee;
$color-accessory: #99378c;

span.lang {
    display: none;
}

body .lang_en .lang.en {
    display: inline-block;
}

body .lang_jp .lang.jp {
    display: inline-block;
}

.lang.stack {
    float: left;
    clear: left;
    width: 100%;
}


html, body {
    height: 100%;
}
body {
    background: $backgroundcolor;
}
#main {
    overflow-x: visible;
    padding-bottom: 120px;
}

h4.title {
    display: block;
    width: 100%;
}

#character-tabs {
    width: 100%;
}

#character-tabs li > button:last-child {
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
}

.dummy-header {
    width: $icon-group-width;
}

.displayNone {
    display: none;
}


.btn {
    padding: 0;
    border-radius: 0;
    border: 0;
    width: 100%;
}
.btn:focus {
    box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%);
}
.btn:hover, label.icon-group:hover {
    background: rgb(13 110 253 / 25%);
}

.stats-table {
    // table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;

    thead {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background: #ffffff;
        z-index: 99; // autocopmlete popup has z of 100 by default.
    }

    tr:hover {
        background: rgba(255,255,255,0.5);
    }

    td, th {
        font-size: 0.7rem;
        text-align: center;
        padding: 0;
        min-width: 25px;
        width: 25px;
        max-width: 25px;
        overflow: hidden;
        // text-overflow: ellipsis;
        // border-bottom: 1px solid inherit;
    }
    th.wide {
        min-width: 32px;
    }

    td:first-child, th:first-child {
        max-width: initial;
    }

    // Can't use position:fixed with border-collapse, so fake it with box-shadow.
    thead > tr > th {
        border-width: 0;
        vertical-align: middle;
        // box-shadow: inset 1px 0px 1px $floatTableBoxShadowColor;
        box-shadow: inset 1px 0 0 #cccccc, inset 0 1px 0 #cccccc;
    }
    thead > tr > th:last-child {
        box-shadow: inset 1px 0 0 #cccccc, inset 0 1px 0 #cccccc, inset -1px 0 0 #cccccc;
    }
    thead > tr > th.box-shadow-override {
        box-shadow: inset 1px 0 0 #cccccc, inset 0 1px 0 #cccccc;
    }

}


ul.ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.icon {
    width: $icon-size;
    height: $icon-size;
}
.icon.small {
    width: $icon-small-size;
    height: $icon-small-size;
}

label.icon-group {
    display: block;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #aaaaaa;
}
.dummy-header > label.icon-group {
    height: 100%;
    border-bottom: none;
}

div.icon-group {
    position: relative;
    border-bottom: 1px solid #aaaaaa;
}

.icon-group {

    table {
        width: 100%;
        height: $icon-size;
        display: table;
        table-layout: fixed;
    
        tr, td, th {
            border: none;
        }
        img {
            width: $icon-size;
            height: $icon-size;
        }
        img.icon-lock {
            width: 20px;
            height: 20px;
        }

        td {
            text-align: left;
            padding-left: 5px;
            font-size: $icon-group-font-size;
        }
        td.icon-td {
            width: 20%;
            padding: 5px 2px;
        }
    }

    .lang {
        float: left;
        clear: left;
    }

    button {
        padding: 0;
    }

    input[type="text"] {
        width: 95%;
    }

    input[type="radio"], input[type="checkbox"] {
        position: absolute;
        right: 10px;
        top: 35%;
    }

}

.icon-group.autoselect {
    table {
        width: $icon-group-width;

        td {
            font-size: 12px;
        }
    }

    input[type="text"] {
        width: $icon-size;
        height: $icon-small-size;
    }

}

.icon-group.weapon {
    border-left: 5px solid $color-weapon;
}
.icon-group.shield {
    border-left: 5px solid $color-shield;
}
.icon-group.headgear {
    border-left: 5px solid $color-headgear;
}
.icon-group.armor {
    border-left: 5px solid $color-armor;
}
.icon-group.boots {
    border-left: 5px solid $color-boots;
}
.icon-group.accessory {
    border-left: 5px solid $color-accessory;
}



.icon-group.small {

    table {
        height: $icon-small-size;
        td {
            font-size: $icon-group-small-font-size;
            padding-top: 0;
            padding-bottom: 0;
            padding: 0;
        }
        td:first-child {
            width: 10%;
            text-align: center;
        }
        td:nth-child(2) {
            width: 16%;
            text-align: center;
        }
        td:nth-child(3) {
            width: 54%;
        }
        td:last-child {
            width: 20%;
        }
    }

}



$header-font-size: 14px;

.group-header {
    font-size: $header-font-size;
    text-align: left;
    width: 100%;
}

.group-header::before {
    content: url('../bootstrap-icons/chevron-down.svg');
    position: relative;
    left: 3px;
    top: 2px;
}

.group-header.collapsed::before {
    content: url('../bootstrap-icons/chevron-right.svg');
}

.position-relative {
    position: relative;
}
.detail-button {
    height: 100%;
    width: 100%;
    font-size: 10px;
}