/*
@import '../node_modules/bootstrap/scss/functions.scss';
@import '../node_modules/bootstrap/scss/variables.scss';

// Set Bootstrap responsive layout to 1200px minimum.
// https://stackoverflow.com/a/53858353
$grid-breakpoints: (
    xs: 0,
    sm: 1px,
    md: 2px,
    lg: 3px,
    xl: 1200px
);

$container-max-widths: (
    xs: 1200px,
    sm: 1201px,
    md: 1202px,
    lg: 1203px,
    xl: 100%
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.container {
    overflow-x: auto;
    min-width: 1200px;
}
*/


// Bootstrap tweaks
.btn {
    padding: 0;
    border-radius: 0;
    border: 0;
}
.btn:focus {
    box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%)
}
/*
.btn:active {
    box-shadow: inset 0 0 3px #000000;
}
.btn:focus:active {
    box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%), inset 0 0 5px #000000;
}
*/

// $backgroundcolor: #f9f6d2;
$backgroundcolor: #eeeeee;
$floatTableBoxShadowColor: #CDCDCD;

$icon-group-width: 200px;
$icon-size: 40px;
$icon-group-font-size: 14px;
$border-indent-1: 5px;

body {
    background: $backgroundcolor;
}

h4.title {
    display: block;
    width: 100%;
}

#character-tabs {
    width: 100%;
}

#character-tabs li > button:last-child {
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
}

.dummy-header {
    width: $icon-group-width;
}

.stats-table {
    // table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;

    thead {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }

    td, th {
        font-size: 0.7rem;
        text-align: center;
        padding: 0;
        min-width: 25px;
        width: 25px;
        // border-bottom: 1px solid inherit;
    }

    // Can't use position:fixed with border-collapse, so fake it with box-shadow.
    thead > tr > th {
        border-width: 0;
        box-shadow: inset 1px 0px 1px $floatTableBoxShadowColor;
    }
    thead > tr > th:last-child {
        box-shadow: inset 1px 0px 1px $floatTableBoxShadowColor, inset -1px -0px 1px $floatTableBoxShadowColor;
    }
    thead > tr {
        box-shadow: 0 1px 1px $floatTableBoxShadowColor;
    }
    thead > tr:first-child {
        box-shadow: 0 1px 1px $floatTableBoxShadowColor, 0 -1px 1px $floatTableBoxShadowColor;
    }

}



$color-weapon: #dd4e4e;

ul.ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

img.icon {
    width: $icon-size;
    height: $icon-size;
}

label.icon-group {
    cursor: pointer;
    width: 100%;
    // border: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

div.icon-group {
    position: relative;
    border-bottom: 1px solid #aaaaaa;
}

button.icon-group {
    padding: 0;
}

.icon-group input[type="radio"] {
    position: absolute;
    right: 10px;
    top: 35%;
}

.icon-group.weapon {
    border-left: 5px solid $color-weapon;
}

div > table.icon-group, label > table.icon-group {
    width: 100%;
    border: 0;
}

table.icon-group {

    width: $icon-group-width;
    height: $icon-size;
    // margin-right: $icon-size;
    display: table;
    table-layout: fixed;
    // border: 1px solid #aaaaaa;

    tr, td, th {
        border: none;
    }

    img {
        width: $icon-size;
        height: $icon-size;
    }

    td {
        text-align: left;
        padding-left: 5px;
        font-size: $icon-group-font-size;
    }

    td.icon-td {
        width: 20%;
        padding: 5px 2px;
    }

    input {
        width: $icon-size;
        margin-left: -5px;
    }
}


$header-font-size: 14px;

.group-header {
    font-size: $header-font-size;
    text-align: left;
    width: 100%;
}

.group-header::before {
    content: url('../bootstrap-icons/chevron-down.svg');
}

.group-header.collapsed::before {
    content: url('../bootstrap-icons/chevron-right.svg');
}

